  .App{

    height: 100vh;
    padding-top: 10px;
    background-color: #1b1b32;
    font-family: 'lato';
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .freecodeCamp-logo-contenedor{
    width: 100%;
    height: 50px;
    margin: 8px;
    display:flex;
    align-items: center;
    justify-content: center;
  }
.freecodeCamp-logo{
  height: 40px;
}
.contenedor-principal-calculadora{
    width: 400px;
    height: 600px;
    padding: 14px;
    background-color: #99c9ff;
    border-radius: 10px;
    border:5px solid white
}
.fila {
  margin: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}